<nav tuiTabBar>
  <button tuiTabBarItem routerLink="/" routerLinkActive="active">
    <div class="item">
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M3 11.5L12 4l9 7.5V20a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1v-8.5z" fill="currentColor"/>
      </svg>
      <span class="label">Home</span>
    </div>
  </button>
  <button tuiTabBarItem routerLink="/about" routerLinkActive="active">
    <div class="item">
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" fill="currentColor"/>
      </svg>
      <span class="label">About</span>
    </div>
  </button>
</nav>
